<footer>
    <div class= mainFooter>
        <div class= sectionOneFooter>
            <h5><span class="nuestras">Nuestras</span> Redes Sociales</h5>
            <div class="socialIconsFooter">
                <img src="/img/social_facebook_fb_2763.png">
                <img src="/img/1491579583-yumminkysocialmedia02_83111.png">
                <img src="/img/instagram_socialnetwork_22374.png">
                <img src="/img/Youtube_36365.png">
                <img src="/img/Google_icon-icons.com_60497.png">
            </div>
        </div>
        <div class= sectionTwoFooter>
            <div class="contactFooter">
                <p>Contactenos</p>
                <img src="/img/1496676725-rounded-high-ultra-colour02-maps_84627.png">
                <img src="/img/phone-icon_34382.png">
                <img src="/img/4202011emailgmaillogomailsocialsocialmedia-115677_115624.png">
            </div>
        </div>
        <div class= sectionThreeFooter>
            <p>@2021 todos los derechos reservados</p>
        </div>
    </div>
</footer>