<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Carrito</title>
    <!--esto es lo que se ve en la pestaña del navegador-->
    <link rel="stylesheet" href="/css/carritoNormalize.css">
    <link rel="stylesheet" href="/css/fuentes.css">
    <link rel="stylesheet" href="/css/carritoStyles.css">
</head>

<body>
    <header>
        <div class="carritoContenedor01">
            <div class="logo">
                <a href="/home.html">
                <img id= "your" width="250" height="55" src= '/img/your-logo.png'alt= 'Imagen de logo'></img>
            </a>
            </div>
        </div>
        <div class="carritoContenedor02">
            <h3>CONFIRMA TU PACK</h3>
        </div>
    </header>

    <main>
        <div class="carritoContenedor03">
            <div class="carrito-tu-pack">
                <a href"#" class="botonPack">
                    <button class="carrito-pack">Este es tu pack
                        <span class="icon"><img width="25" height="25" src='/img/hecho-garrapata.png'
                                alt='Imagen de tilde'></img></span>
                    </button>
                </a>
            </div>
            <div class="carrito-servicios">
                <h4 class="carrito-serad">Servicios Adicionales</h4>
                <ul type=none>
                    <li><input type="checkbox"><label class="carrito-tipo"> Traslado en Día Feriado </label></li>
                    <li><input type="checkbox"><label class="carrito-tipo"> Asistente Adicional </label></li>
                    <li><input type="checkbox"><label class="carrito-tipo"> Servicio de Embalaje </label></li>
                    <li><input type="checkbox"><label class="carrito-tipo"> Variedad en Cajas</label></li>
                    <li><input type="checkbox"><label class="carrito-tipo"> Cintas adhesivas </label></li>
                    <li><input type="checkbox"><label class="carrito-tipo"> Goma espuma </label></li>
                    <li><input type="checkbox"><label class="carrito-tipo"> Depósito Temporal </label></li>
                    <li><input type="checkbox"><label class="carrito-tipo"> Depósito Permantente </label></li>
                </ul>
            </div>

            <div class="carrito-adicionales">
                <h3 class="carrito-invitar"> Te invitamos a Seleccionar tus servicios adicionales </h3>
                <br>
                <img id="carrito-lapiz" width="100" height="100" src="/img/bloc.png" alt='Imagen de bloc'></img>
            </div>

            <div class="carrito-botones">
                <br>
                <br>
                <button class="carrito-ok pack">OK quiero PACK
                    <span class="icon"><img width="25" height="25" src="/img/hecho-garrapata.png"
                            alt='Imagen de tilde'></img></span>
                </button>

                <button class="carrito-volver">
                    <a href="/home.html">
                    VOLVER
                    <span class="icon"><img width="25" height="25" src='/img/arriba.png'
                            alt='Imagen de flecha hacia arriba'></img></span></a>
                </button>

                <div class="carrito">
                    <img width="35" height="35" src='/img/carrito-de-compras.png' alt='Imagen de ahopping cart'></img>
                </div>

                <div class="costo">
                    <h3>$23600</h3>
                    <a href="#" class="detalle">Mis servicios</a>
                </div>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="redesSocialesFooter">
          
          <div class ="rrss"><img src="/img/facebook.png" class="logoFacebook"/></div>
          <div class="rrss"><img src="/img/twitter.png" class="logoTwitter"/></div>
          <div class="rrss"><img src="/img/linkedin.png" class="logoFacebook"/></div>  
        </div>  
      </footer>
</body>

</html>