<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!-- <YoTeMudo>Home</YoTeMudo>esto es lo que se ve en la pestaña del navegador -->
    <link rel="stylesheet" href="/css/homeNormalize.css">
    <link rel="stylesheet" href="/css/fuentes.css">
    <link rel="stylesheet" href="/css/homeStyles.css">
</head>
<body>  
    <header class=contenedor01>
        <div class="logo">
            <img id= "your" width="250" height="55" src= '/img/your-logo.png'alt= 'Imagen de logo'></img>
        </div>
        <div class="presentacion">
            <div class= "botones">
                <a href"#" class="boton1">
                    <button class= "sub-boton">QUIENES SOMOS 
                    </button>
                </a>
              </div>
              <div class= "botones">
                <a href="/producto.html" class="boton2">
                    <button class= "sub-boton">PRODUCTOS
                    </button>
                </a>
              </div>
              <div class= "botones">
                <a href="/login.html" class="boton3">
                    <button class= "sub-boton">INICIAR SESION
                    </button>
                </a>
              </div>
              <div class= "botones">
                <a href="/registro.html" class="boton4">
                    <button class= "sub-boton">REGISTRATE
                    </button>
                </a>
              </div>
         </div>
         <div class="telefono">
            <img id= "whatsapp" width="30" height="30" src= '/img/whatsapp.png'alt= 'Imagen de whatsapp'></img>
         </div>
    </header>

    <main>
        <div class= "contenedor02">   
            <div class="conjunto">
                <div class= "invitar">
                    <h2 class= "frase-video"> Te invitamos a ver nuestro video institucional </h2>
                </div>

                <div class= "video">
                    <video class= "video" src= '/img/video-YoTeMudo.mp4' width= "350" height="200" controls></video>
                </div>
            
            </div>
                <div class= "expertos">
                    <h2>Expertos en Mudanzas</h2>
                </div> 
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="redesSocialesFooter">          
          <div class ="rrss"><img src="/img/facebook.png" class="logoFacebook"/></div>
          <div class="rrss"><img src="/img/twitter.png" class="logoTwitter"/></div>
          <div class="rrss"><img src="/img/linkedin.png" class="logoFacebook"/></div>  
        </div>  
      </footer>
</body>
</html>