<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>teMudo.com</title>
        <link rel="stylesheet" href="/css/loginStyles.css" /> <!--SIN SERVER DEBO SUMAR ../public -> href="../public/css/styles.css" -->
        <meta name="viewport" content= "width= device-width , initial-scale=1">
    </head>
    <body class="background">
        <a>
            <a href="/home.html">
                        <img src= "/img/your-logo.png" width="250" height="55" alt="Logo-Yo-Te-Mudo"> </img>
        </a>
            
                <form>
                    <div class="centrado">
                   
                        <div class="icono_login"> 
                            <img src="/img/user-solid.svg"> </img>
                        </div>
                        <h2 class="titulo_Ingreso"> INICIAR SESION </h2>
                        <p> <label> 
                            <input class= "formularios" type="text" name="nombreUsuario" placeholder="Usuario" size="35" maxlength="30" autofocus >
                            </input> 
                            </label> 
                        </p>
                        <p> <label> 
                            <input class= "formularios"type="password" name="claveUsuario" placeholder="Contraseña" size="35" maxlength="30" > 
                            </input>
                            </label> 
                        </p>
                        <!--<input type="submit" value="Reestablecer contraseña / Registrarse" style="vertical-align: middle"> -->
                        
                        <div>
                            <button class="carrito-volver">  
                                <a href="#" class="boton_confirmar">
                                    <img src="/img/send.svg" alt="Icono de Ingreso" width="20" height="20" style="vertical-align: middle"> 
                                CONFIRMAR 
                                </a>
                            </button>
                        </div>
                        <br>
                        <div class="otros-accesos">
                            <a href="#">Olvide mi contraseña</a>  |  
                            <a href="#">Crear cuenta</a>
                        </div>
                    </div>
                </form>
            
        </header>
        <main>

        </main>
        <footer class="footer">
            <div class="redesSocialesFooter">
              
              <div class ="rrss"><img src="/img/facebook.png" class="logoFacebook"/></div>
              <div class="rrss"><img src="/img/twitter.png" class="logoTwitter"/></div>
              <div class="rrss"><img src="/img/linkedin.png" class="logoFacebook"/></div>  
            </div>  
          </footer>
    </body>
</html>