<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registroStyles.css">
    <title>Formulario Yo te Mudo</title>
</head>
<!-- <header>
    <div class="logo">
        <img id= "your" width="250" height="55" src= '/img/your-logo.png'alt= 'Imagen de logo'></img>
    </div>
</header> -->

<body>
    <header>

    </header>
    <main>
        <article>
        <h1>
            Formulario de Registro
        </h1>
        <form>

            <div class="contenedor">
                <div class="formulario-nombre">
                    <label> Nombres</label>
                    <input type="text" name="nombre" size="30">
                </div><br>

                <div class="formulario-apellido">
                    <label>Apellidos </label>
                    <input type="text" name="nombre" size="30">
                </div><br>

                <div class="formulario-telefono">
                    <label>Telefono </label>
                    <input type="text" name="number" size="30">
                </div><br>

                <div class="formulario-direccion">
                    <label> Dirección</label>
                    <input type="text" name="nombre" size="30">
                </div><br>

                <div class="formulario-email">
                    <label>Correo</label>
                    <input type="text" name="email" size="30">
                </div><br>


                <div class="privacidad">
                    <div class="checkbox">
                        <input type="checkbox" required>
                    </div>
                    <div class="frase">
                        <label> He leido y acepto la politica de privacidad</label>
                    </div>   
                </div>

                
                <div class="button-container">
                 <button type="submit">Cancelar</button>
                    <br>


                <div class="button-container-dos">
                        <button type="submit">Enviar</button>
                </div>
               </div>
        </form>
    </article>




    </main>




</body>

</html>