*{
    box-sizing:border-box;
}

body {
    font-family: Montserrat-Light;

    background: url(/fuentes/cajas.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    max-width: 100vw;
    color:#000000;
}

@font-face {
    font-family: Montserrat-Light;
    src: url(/fuentes/Montserrat-Light.ttf) format('truetype');
}

.carritoContenedor02{
    font-size:18px;
    text-align: center;
    padding: 0.125rem;
    margin: auto;
    border-top: solid 2px black;
    font-weight: bold;
    box-sizing: border-box;
}

.carritoContenedor03{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-around;
    gap: 25px;
    margin: 15px 0;
    padding: 40px;
    background:linear-gradient(to top,rgba(13, 165, 165, 0.333),transparent,);
}
.carrito-volver a{
    text-decoration: none;
}

.carrito-tu-pack{
    align-content: center;
}
.carrito-pack{
    position:relative;
    padding:1em 1.5em;
    border:none;
    background-color:transparent;
    cursor:pointer;
    outline:0;
    font-size:18px;
    margin: .5em .8em;
    font-weight: 600;
}

.carrito-pack:after,
.carrito-pack:before{
    content:"";
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:2px;
    background-color:#16a085;
    transition:all .3s ease;
    transform:scale(0.85)
}
.carrito-pack:hover:before{
    top:0;
    transform:scale(1)
}
.carrito-pack:hover:after{
    transform:scale(1)
}
.carrito-servicios{
    text-align: left;
    box-sizing: border-box;
    order:1;
}

.carrito-botones{
    text-align: center;
    box-sizing: border-box;
    order:1;
}
ul{
    list-style-position: inside;
    padding-left: 25px;
}
.carrito-tipo {
    font-size:18px;
    margin-left: 15px;
    cursor: pointer;
    font-style: italic;
    text-align: left;
    font-weight: 600;
}

.detalle{
    font-size: 20px;
    color:#000000;
    font-weight: 600;
}

.carrito-serad {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: solid #435a6b 2px;
    padding-bottom:20px;

}

.carrito-adicionales{
    text-align: center;
    box-sizing: border-box;
}
#carrito-lapiz{
    border: 2px;
}

.carrito-invitar{
    font-size: 22px;
    font-weight: 600;
    margin:26.6px;
    width:25vw;
}

.carrito-ok{
    position:relative;
    padding:1em 1.5em;
    border:none;
    background-color:transparent;
    cursor:pointer;
    outline:0;
    font-size:18px;
    margin:.5em .8em;
    font-weight: 600;
}
.carrito-ok:after,
.carrito-ok:before{
    content:"";
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:2px;
    background-color:#16a085;
    transition:all .3s ease;
    transform:scale(0.85)
}
.carrito-ok:hover:before{
    top:0;
    transform:scale(1)
}
.carrito-ok:hover:after{
    transform:scale(1)
}

.carrito-volver{
    position:relative;
    padding:1em 1.5em;
    border:none;
    background-color:transparent;
    cursor:pointer;
    outline:0;
    font-size:18px;
    margin:1em .8em;
    font-weight: 600;
}
.carrito-volver:after,
.carrito-volver:before{
    content:"";
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:2px;
    background-color:#16a085;
    transition:all .3s ease;
    transform:scale(0.85)
}
.carrito-volver:hover:before{
    top:0;
    transform:scale(1)
}
.carrito-volver:hover:after{
    transform:scale(1)
}
.footer img{
    width: 35px;
    height: 30px;
    margin: 5px;
  }
  .redesSocialesFooter{
    display:flex;
    justify-content: center;
  }
  .rrss{
    display: flex;
  }

@media (max-width: 600px) {
    .carritoContenedor03 {
        justify-content: center;
    }
    .carritoContenedor02,.tipo {
        font-size:16px;
    }
    .carrito-serad{
        text-align: center;
    }
    .carrito-invitar{
        font-size: 22px;
        margin:26.6px;
        width: auto;
    }
}

@media (min-width: 600px) and (max-width: 768){
    .carritoContenedor03 {
        justify-content: space-around;
    }
    .carritoContenedor02,.tipo {
        font-size:16px;
    }
    .carrito-serad{
        text-align: center;
    }
    .carrito-invitar{
        font-size: 22px;
        margin:26.6px;
        width: auto;
    }
    .carrito-ok,
    .carrito-volver {
        width:150%;
    }
}