*{
    box-sizing: border-box;
}
.logoyotemudo{
margin-left: 0;
padding: 0;
}
body {
    background:linear-gradient(to top,#88694D,transparent);
    /* color: #fff; */
    font-family: quicksand, sans-serif;
    /* padding: 0 1.5em; */
}
.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5em 1.5em;    
}
.logo {
    text-align: center;
    font-size: 3em;
    margin-top: 3px;
}
.logo2 {
    color: #3C362A;
}
.formulario_de_contacto {
    box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
}
.formulario_de_contacto h1 {
    text-align: center;
}
.formulario_de_contacto {
    padding: 1em;
}
.formulario_de_contacto {
    background: #88694D;
    /* background: #3C362A; */
}
.formulario_de_contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formulario_de_contacto form .block {
    grid-column: 1 / 3;
}
.formulario_de_contacto form  p {
    margin: 0;
    padding: 1em;
}
.formulario_de_info {
    background: #3C362A;
    /* background: #88694D; */
}
.formulario_de_info h4,
.formulario_de_info ul,
.formulario_de_info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: antiquewhite;
}
.formulario_de_info ul {
    list-style: none;
    padding: 0;
}
.formulario_de_info ul li {
        padding: .3em;
}
.formulario_de_contacto form button,
.formulario_de_contacto form input,
.formulario_de_contacto textarea {
        width: 100%;
        padding: .6em;
        border: none;
        background: none;
        outline: none;
        color: #fff;
        border-bottom: 1px solid #3C362A;
}
.formulario_de_contacto form button {
    width: 200%;
    background: #3C362A;
    border: 0;
    color: #000;
    text-transform: uppercase;
    padding: 1em;
    transition: background-color 16s ease-out;
}
.formulario_de_contacto form button:hover,
.formulario_de_contacto form button:focus {
background: #d63031;
 color: #fff; 
}   
.footer img{
    width: 35px;
    height: 30px;
    background: transparent;
    /* padding: 15px; */
  }
  .redesSocialesFooter{
    display:flex;
    justify-content: space-evenly;
  }
  .rrss{
    display: flex;
  }    
/* Medias Query */
@media (min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .formulario_entero {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }        
    .formulario_de_info {
padding: 2em;
}
.formulario_de_info h4,
.formulario_de_info ul,
.formulario_de_info p {
    padding: .6em;
}
.redesSocialesFooter{
    justify-content: center;
  }
}
@media (min-width: 1200px){
    .logo {
        margin-top: auto;
}
.redesSocialesFooter{
    justify-content: center;
  }
}