<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>YoTeMudo.com</title>
        <script src="https://kit.fontawesome.com/29db22af69.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/indexNormalize.css">
        <link rel="stylesheet" href="/css/indexStyles.css">
    </head> 

<body>  
    <%- include('./partials/header') %> 

    <main>
        <div class= "contenedor02">   
            <div class="conjunto">
                <div class= "invitar">
                    <h2 class= "frase-video"> Te invitamos a ver nuestro video institucional </h2>
                </div>

                <div class= "video">
                    <video class= "video" src= '/img/video-YoTeMudo.mp4' width= "350" height="200" controls></video>
                </div>
            
            </div>
                <div class= "expertos">
                    <h2>Expertos en Mudanzas</h2>
                </div> 
            </div>
        </div>
    </main>
    <br><br><br><br><br><br>
    <%- include('./partials/footer') %> 

</body>
</html>