<!DOCTYPE html>
<html lang="en">

    
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoTeMudo Registro</title> 
     <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">

    <!--    Font awesome  -->
    <script src="https://kit.fontawesome.com/29db22af69.js" crossorigin="anonymous"></script>

    <!-- Enlace con CCS-->
    <link rel="stylesheet" href="/css/indexNormalize.css">
    <link rel="stylesheet" href="/css/registroStyles.css">
</head> 
    
    <body>

        <%- include('../partials/header') %> 
        <!-- <header>
            <div class="logoyotemudo"><a href="/">
                <img id= "your" width="250" height="55" src= '/img/your-logo.png'alt= 'Imagen de logo'></img>
            </a>
            </div>
        </header> -->
        <div class="content">
            <h2 class="logo">Solicitud de <span class="logo2"> Registro </span></h2>
        <div class="formulario_entero">
            <div class="formulario_de_contacto">
                <h1> Datos de usuario </h1>
                <form action="/registro" method='POST' enctype="multipart/form-data">
                    <p>
                        <label for="nombre">NOMBRE </label>
                        <input type="text" name="nombre" id="nombre">
                    </p>
                    <p>
                        <label for="apellido">APELLIDO</label>
                        <input type="text" name="apellido" id="apellido">
                    </p>
                    <p>
                        <label for="usuario">USUARIO</label>
                        <input type="text" name="usuario" id="usuario" required>
                    </p>
                    <p>
                        <label for="email">EMAIL</label>
                        <input type="text" name="email" id="email">
                    </p>
                    <p>
                        <label for="telefono">TELEFONO</label>
                        <input type="tel" name="telefono" id="telefono" >
                    </p>
                    <p>
                        <label for="domicilio">DOMICILIO</label>
                        <input type="text" name="domicilio" id="domicilio" >
                    </p>
                    <p>
                        <label for="localidad">LOCALIDAD</label>
                        <input type="text" name="localidad" id="localidad" >
                    </p>
                    <p>
                        <label for="claveUsuario">CONTRASEÑA</label>
                        <input type="password" "password" name="claveUsuario" id="claveUsuario">
                    </p>
                    
                       <button type="submit">ENVIAR</button>
                    </p>
                </form>
            </div>
            <div class="formulario_de_info">
                <h4>SOBRE NOSOTROS</h4>
                <ul>
                    <li> <i class="fas fa-map-marker-alt"> Juan Agustin Lorca 24</i> </li>
                    <li> <i class="fas fa-phone-"> 011 4682 9857</i></li>
                    <li> <i class="fas fa-envelope"> contacto@yotemudo.com</i></li>
                </ul>
                <p>
                    Desde hace más 10 años que YoTeMudo.com esta con vos, somos EXPERTOS EN MUDANZAS.
                </p>
                <p>
                    YoTeMudo.com
                </p>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %> 
    <!-- <footer class="footer">
        <div class="redesSocialesFooter">
          
          <div class ="rrss"><img src="/img/facebook.png" class="logoFacebook"/></div>
          <div class="rrss"><img src="/img/twitter.png" class="logoTwitter"/></div>
          <div class="rrss"><img src="/img/linkedin.png" class="logoFacebook"/></div>  
        </div>  
      </footer> -->
</body>
</html>