<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quienes Somos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/profileStyles.css">
    <link rel="stylesheet" href="/css/quienesSomos.css">
    <link rel="stylesheet" href="/css/carritoNormalize.css">
    <link rel="stylesheet" href="/css/fuentes.css">
    <link rel="stylesheet" href="/css/carritoStyles.css">

    <!--    Font awesome  -->
    <script src="https://kit.fontawesome.com/29db22af69.js" crossorigin="anonymous"></script>

</head>

<body>

    <%- include('../partials/header') %>
   


        <div class="imagenUno">
            <img src="/img/quienesSomosManos.jpg">
        </div>

        <div class="parrafo">
            <p>YoTemudo es una empresa con amplia trayectoria, con mas de 14 años de experiencia dedicada al servicio de
                fletes, mudanzas, embalajes con personal altamente capacitado para el desarme y armado de muebles.
                Embalamos con materiales de primera calidad para el mejor cuidado de sus muebles.
                Realizamos mudanzas familiares,barrios cerrados,oficinas,comercio,empresas,bancos y desalojo judiciales.
                FletesYA es una empresa comprometida con el cliente.

                Nuestra mayor aspiración es mejorar constantemente en calidad y servicio para dar una repuesta a
                nuestros clientes de confianza.
                Le proponemos un traslado sin problema y con todas las garantías.

                Nuestro personal,con una amplisima experiencia,nos avala con soluciones eficaces.
                Nuestra flota de vehículos adecuados a su mudanza.
                FletesYa tiene una amplia experiencia en fletes y mudanzas los comentarios de nuestros clientes avalan
                nuestra calidad en el servicio.</p>
        </div>

        <div class="imagenDos">
            <img src="/img/quienessomosHistoria.jpg">
        </div>
    </div>
    <%- include('../partials/footer') %>

</body>

</html>