<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>teMudo.com</title>
         
        <meta name="viewport" content= "width= device-width , initial-scale=1">
        <link rel="stylesheet" href="/css/indexNormalize.css">
        <link rel="stylesheet" href="/css/loginStyles.css" />
    </head>
    <body class="background">
        <%- include('../partials/header') %> 
            <main>
                <form  name = 'login' Action='login' method='POST' >
                    <div class="centrado">
                   
                        <div class="icono_login"> 
                            <img src="/img/user-solid.svg"> </img>
                        </div>
                        <h2 class="titulo_Ingreso"> INICIAR SESION </h2>
                        <p> <label for='usuario'> 
                                <input class= "formularios" type="text" name="usuario" id="usuario" placeholder="Usuario" 
                                    size="35" maxlength="30" autofocus >
                                </input> 
                            </label> 
                        </p>
                        <p> <label for='claveUsuario'> 
                                <input class= "formularios"type="password" name="claveUsuario" id="claveUsuario"
                                    placeholder="Contraseña" size="35" maxlength="30" > 
                                </input>
                            </label> 
                        </p>
                        <!--<input type="submit" value="Reestablecer contraseña / Registrarse" style="vertical-align: middle"> -->
                        
                        <div>
                            <button class="carrito-volver" type="submit">
                                <!--<a href="/login" class="boton_confirmar"> -->
                                    <img src="/img/send.svg" alt="Icono de Ingreso" width="20" height="20" style="vertical-align: middle"> 
                                    CONFIRMAR 
                                </a>
                            </button>
                        </div>
                        <br>
                        <div class="otros-accesos">
                            <a href='./users/profileAdmin'>Olvide mi contraseña</a>  |  
                            <a href="#">Crear cuenta</a>
                        </div>
                    </div>
                </form>
        </main>
        <br>
        <br>
        <br>
        <%- include('../partials/footer') %> 
    </body>
</html>